.notification-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification-icon {
  font-size: 24px;
  position: relative;
  left: -20px; /* 왼쪽으로 10px 이동 */
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.notification-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 250px;
  z-index: 1000;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f9f9f9;
}
